1- installer les packages suivants en utilisant la commande suivante : pip install <nom du package>

	Packages :
	1- urlopen
	2- bs4
	3- lxml
	4- csv
	

2- Installer Git bash sur Windows:

	- Télécharger le programme d'installation de Git Bash à partir du site officiel: https://git-scm.com/
	- Lancer le fichier .exe file téléchargé et suivre les instructions
​
